<p>students works!</p>
<hr />
<div>
  <div><h1>Студенты</h1></div>
  <div>
    <form [formGroup]="studentSendForm">
      <div><input type="number" formControlName="id" /></div>
      <div><input type="text" formControlName="firstName" /></div>
      <div><input type="text" formControlName="lastName" /></div>
      <div>
        <button (click)="studentForm()">Сохранить</button>
        <button (click)="resetForm()">Сброс</button>
      </div>
    </form>
  </div>

  <table class="highlight">
    <thead>
      <tr>
        <th rowspan="2">Номер</th>
        <th>Фамилия</th>
        <th>Имя</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index">
        <td>{{ student.id }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>
          <input type="button" value="Изменить" (click)="editStudent(student)" />
          <input type="button" value="Удалить" (click)="deleteStudent(i)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
