<hr>
<div>
  <div><h1>Студенты</h1></div>
  <form [formGroup]="studentForm">
  <table>
    <thead>
      <tr>
        <th>п/п</th>
        <th>ФИО студента</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let student of students.controls; let i = index">
        <td>{{i+1}}</td>
        <td formArrayName="students">
      
          <input type="text" [formControlName]="i" (change)="changeEmit(i)" />
          <img
            *ngIf="students.controls[i].invalid"
            
            src="../../assets/no.jpg"
          />
          <img
            *ngIf="!students.controls[i].invalid"
            src="../../assets/yes.jpg"
          />
        </td>
        <td>
          <button type="button" (click)="create(i)">Добавить</button>
          <button type="button" (click)="delete(i)">
            Удалить
          </button> 
          
        </td>
    </tbody>
  </table>
</form>
</div>
