<hr />
<div>
  <div><h1>Список уроков</h1></div>
  <div>
    <form [formGroup]="lessonSendForm">
      <label>Номер</label>
      <input type="number" formControlName="id" />
      <img
        *ngIf="
          lessonSendForm.get('id').getError('min') ||
          lessonSendForm.get('id').invalid
        "
        src="../../assets/no.jpg"
      />
      <img
        *ngIf="
          !lessonSendForm.get('id').getError('min') &&
          !lessonSendForm.get('id').invalid
        "
        src="../../assets/yes.jpg"
      />
      <label>Дата</label>
      <input type="date" formControlName="date" />
      <img
        *ngIf="
          lessonSendForm.get('date').getError('required') ||
          lessonSendForm.get('date').getError('minDate')
        "
        src="../../assets/no.jpg"
      />
      <img
        *ngIf="
          !lessonSendForm.get('date').getError('required') &&
          !lessonSendForm.get('date').getError('minDate')
        "
        src="../../assets/yes.jpg"
      />
      <label>Тема</label>
      <input type="text" formControlName="theme" />
      <img
        *ngIf="lessonSendForm.get('theme').invalid"
        src="../../assets/no.jpg"
      />
      <img
        *ngIf="!lessonSendForm.get('theme').invalid"
        src="../../assets/yes.jpg"
      />
      <label>Самостоятельная</label>
      <input type="text" formControlName="homework" />
      <img
        *ngIf="lessonSendForm.get('homework').invalid"
        src="../../assets/no.jpg"
      />
      <img
        *ngIf="!lessonSendForm.get('homework').invalid"
        src="../../assets/yes.jpg"
      />
      <label>Заметки</label>
      <input type="text" formControlName="note" />
      <button (click)="lessonForm()">Сохранить</button>
      <button (click)="resetForm()">Сброс</button>
    </form>
  </div>

  <table class="highlight">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Дата урока</th>
        <th>Тема урока</th>
        <th>Домашнее задание</th>
        <th>Примечание</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lesson of lessons; let i = index">
        <td style="width: 1em">{{ i + 1 }}</td>
        <td>{{ lesson.date | date: "yyyy-MM-dd" }}</td>
        <td>{{ lesson.theme }}</td>
        <td>{{ lesson.homework }}</td>
        <td>{{ lesson.note }}</td>
        <td>
          <input type="button" value="Изменить" (click)="editLesson(lesson)" />
          <input type="button" value="Удалить" (click)="deleteLesson(i)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
